/*----------  login estilo  ----------*/
body
{
    margin:0;
    padding:0;
    background:url(../assets/img/error.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.contenedor{
    margin-left: 40px;
}
p{
    color: beige;
    font-family: monospace;
}

input[type="submit"] {
    border-radius: 2px;
    border: none;
    outline: none;
    height: 30px;

    background: #34ce57;
    color: #fff;
    font-size: 12px;
}

 input[type="submit"]:hover {
    cursor: pointer;
    background: #4caf50;
    color: #fff;
}

